html, body {
  overflow-x:hidden;
  overflow-y:hidden;
  margin: 0px;
  width: 100%;
  height: 0;
  }

#logo, #shadow{
  position: absolute;
  width: 33.5%;
  height: auto;
  left: 33.5%;
  top: 36.5%;
  z-index: -2;
}

#shadow
{
  top: 38%;
}

.centered {
  position: absolute;
  top:43%;
  left: 39%;
  z-index:0;
}

#uparrow, #upwhite {
  position: absolute;
  top: 4%;
  left: 50%;
  width: 5%;
  height: auto;
  transform: translate(-50%, 50%);
}

#upwhite {
  top: 0%;
}

#downarrow, #downwhite {
  position: absolute;
  bottom: 4%;
  left: 50%;
  width:5%;
  height: auto;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
}

#downwhite {
  bottom: 0%;
}

#leftarrow, #leftwhite {
  position: absolute;
  top: 50%;
  left: 4%;
  width: 5%;
  height: auto;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: translate(50%, -50%) rotate(-90deg);
}

#leftwhite {
  left: -2%;
}

#rightarrow, #rightwhite {
  position: absolute;
  top: 50%;
  right: 4%;
  width: 5%;
  height: auto;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

#rightwhite {
  right: -2%;
  
}

.arrow, .backarrow {
  opacity: 0;
  z-index: 1;
}

.backarrow {
z-index: 0;
}

#screensize { /*Just used to get height and width of screen.*/
  position:fixed;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: -999;
}


.brick {
  -webkit-transform: translateZ(0);
  overflow: hidden;
  position: absolute;
  height: auto;
  width: 240%;
  top:   -5%;
  left:  -50%;
  z-index: -2;
}

.wood {
  -webkit-transform: translateZ(0);
  height: auto;
  width: 240%;
  position: absolute;
  top: 80%;
  left: -10%;
  z-index: -1;
}

.skyfg {
  display: none;
  position:absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -3;
}

#back, #back2, #back3 {
  width: 180%;
  height: auto;
}
#front-1, #front-2 {
  width: 100%;
  height: auto;
}
#middle-1, #middle-2, #middle-3 {
  width: auto;
  height: 70%;
  }
/*
#confetti-1, #confetti-2, #confetti-3, #confetti-4 {
  visibility: visible;
  display:inline-block;
  width: 30%;
  height: auto;
  z-index: -2;
}*/

#skybg {
  visibility: visible;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -4;
  }

@font-face {
  font-family:'PF Din Regular';
  src:url('PFDinTextCondPro-Regular.ttf');

}

@font-face {
    font-family:'PF Din Light';
  src:url('PFDinTextCondPro-Light.ttf');
}

#contactUs {
  visibility: hidden;
  position: absolute;
  top: 33%;
  left: 13%;
  font-family: "PF Din Regular";
  font-size: 7.0vh;
  color: black;
  z-index: -2;
  -webkit-filter:blur(1.0px);
}

#contactUsBody {
  opacity: 0;
  text-align: center;
  width: auto;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 52%;
  left: 50%;
  font-family: "PF Din Light";
  font-size: 4.5vh;
  color: black;
  z-index: -1;
}

#supportedBy {
  opacity: 0;
  font-family: "PF Din Regular";
  font-size: 4vh;
  width: 100%;
  height: auto;
  top: 72%;
  left: 13%;
  z-index: -1;
  position: absolute;
}

#nuslogo {
  width: 11%;
  top: 117%;
  height: auto;
  position: absolute;
}

#smulogo {
  width: 15%;
  height: auto;
  position: absolute;
  left: 18%;
  top: 100%;
}

#awplogo {
  width: 5%;
  height: auto;
  left:37%;
  top: 110%;
  position: absolute;
}

#nalogo {
  width: 14%;
  height: auto;
  left: 48.5%;
  top: 105%;
  position: absolute;
  }


#aboutUs {
  visibility: hidden;
  position: absolute;
  top: 77%;
  left: 13%;
  font-family: "PF Din Regular";
  font-size: 7.0vh;
  color: black;
  z-index: -3;
  -webkit-filter:blur(1.5px);
  -ms-filter:blur(1.5px);
}

#aboutUsBody {
opacity: 0;
  text-align: center;
  position: absolute;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  font-family: "PF Din Light";
  font-size: 5.0vh;
  color: black;
  z-index: -1;
}

.wordArrow {
  font-family: "PF Din Light";
  font-size: 4.0vh;
  height: auto;
  color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#topWordArrow {
  position: absolute;
  top: 8%;
  left: 50%;
  width: auto;
  height: auto;
  transform: translate(-50%, +50%);
}

#downWordArrow {
  position: absolute;
  left: 50%;
  bottom: 8%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

#leftWordArrow {
  position: absolute;
  top: 50%;
  left: 4%;
  width: auto;
  height: auto;
  transform: translate(50%, -50%);
}

#rightWordArrow {
  position: absolute;
  top: 50%;
  right: 4%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.pjt-thumbnail {
  min-width: 200px;
  min-height: 600px;
  display: inline;
  margin: auto 0.5%;
  text-align: center;
  position: relative;
  width: 10%;
  height: auto;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
}



.pjt-mo {
  display: none;
  position: absolute;
}

#projects {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  margin: 0px auto;
  z-index: -3;
  transform: translate(-50%, -50%);
}

  
